@tailwind base;
@tailwind components;
@tailwind utilities;



.dropdown-title-navbar-mainmenu{
    padding: 1rem;
    font-size: 2em;
    margin-bottom: 1rem;
}


.container-user-info{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.ul-user{
    display: flex;
    flex-direction: column;
}

.ul-user > li.data-user{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding: 16px 0;
    cursor: pointer;
    gap: 8rem;
}

li > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-info-data{
    color: #717171;
}

.nav-user-account{
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-height: 60px;
    z-index: 9997;
}


.arrow{
    color: purple;
    font-size: 29px;
}


div.navbar{
    box-shadow: inset 0 -1px 0 #dcdcdc;
}

.user_data_title{
    color: #414143;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.user_list_data_title{
    color: #414143;
    font-weight: 500;
}